 <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Store</a>
        </div>
        <form action="/search" id="searchForm" method="post" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" name="q" value="<%= typeof(query) !== 'undefined' ? query : '' %>" id="search-box" class="form-control" placeholder="Search here ..." required>
        </div>
      </form>
        <ul class="nav navbar-nav">
          <% categories.forEach(function(topC) { %>
            <li><a href="/categories/<%= topC.id %>/subcategories"><%= topC.name %></a></li>
          <% }) %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if (user) {%>
            <li><a href="/wishes"><span class="glyphicon glyphicon-heart"></span></a></li>
            <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          <% } else {%>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="/signup"><span class="glyphicon glyphicon-log-in"></span> Signup</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>